<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browser" value="Chrome"></parameter>
<listeners><listener class-name="listener.Listeners"></listener></listeners>
  <test thread-count="5" name="Test">
    <classes>
    
     
     <class name="testscripts.LoginTest"></class>
      <class name="testscripts.HomeTest"></class>  
      <class name="testscripts.SubCategoryTest"></class>
     <class name="testscripts.ManageUsersTest"></class>    
     <class name="testscripts.ManageNewsTest"></class>
     
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
